.bolls {
    width: 100%;
    height: 3vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.b1 {
    width: 5vw;
    height: 10px;
    display: flex;
    background-color: rgb(180, 180, 180);
    border-radius: 8px;
    transition: width 0.2s ease-in-out, height 0.5s ease-in-out;
}
.b2 {
    width: 5vw;
    height: 10px;
    display: flex;
    background-color: rgb(180, 180, 180);
    border-radius: 8px;
    transition: width 0.2s ease-in-out, height 0.5s ease-in-out;
}
.bactive {
    width: 7vw;
    height: 15px;
    transition: transform 3s ease-in-out;
    background-color: rgb(255, 255, 255);
}
@media screen and  (max-width:1025px){
    .bolls {
        height: 5vw;
    }
    .b1 {
        width: 8vw;
        height: 15px;
    }
    .b2 {
        width: 8vw;
        height: 15px;
    }
    .bactive {
        width: 10vw;
        height: 20px;
    }
    
}

@media screen and (max-width:400px) {
    .bolls{height: 10vw;}
    .b1 {
        width: 30vw;
        height:10px

    }
    .b2 {
        width: 30vw;
        height:10px
        
    }
    .bactive {
        width: 35vw;
        height: 15px;
    }
}

    
