header {
    height: 70px;
    width: 100%;
    padding: 0 8%;
    background-color: #0e0e0e;
    color: #eaeaea;
    align-items: center;
    display: flex;
    
}














header img {
    width: 30px;
   
    
}
.nav-bar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;

}
.list-item {
    transition: transform 3s ease-in-out;
    cursor: pointer;
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 15px;
    justify-content: space-between;
}
.shopping-bagpc:hover {
    transition: transform 0.5s ease-in-out;
}
.home1:hover {
    transition: transform 0.5s ease-in-out;
}

.shopping-bagpc:hover {
    transform: scale(1.10);
}
.home1:hover {
    transform: scale(1.10);
}
@media screen and  (max-width:800px){
    .shopping-bagpc {
        display: none;
    }
    header {padding: 14px 14%;
        height: 60px;
    }
    header img{
        width: 30px;}
    
}

