.insta {
    width: 100%;
    height: 2.5vw;
    background-color: rgba(240, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.linha {
    width: 100%;
    height: 0.1vw;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.insta img {
    width: 1.5vw;
    height: auto;
    cursor: pointer;
}
@media screen and (max-width:1050px){
    .insta {
        height: 5vw;
        
    }
    .insta img {
        width: 3vw;
    }
}