.menu {
  position: relative;
    padding: 2vw;
    color: white;
    position: fixed;
    top: 0;
    right: -300vw;
    width: 350px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    transition: right 0.5s ease-in-out;
}
.ativom {
    transition: right 0.5s ease-in-out;
    right: 0;
}
.listm {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  gap: 1vw;  
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25vw;
}
.listm li {
    border-bottom: 1px solid #333;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}
.listm li:hover {
    color: rgb(153, 153, 153);
}
.close {
    display: flex;
    margin-bottom: 4vw;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.over {
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.603);
    opacity: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    opacity: 0;
}
.overy {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
@media screen and (max-width:400px) {
  .menu {
    width: 80%;
  }
  .listm {
    font-size: 4vw;
  }
}

