.mkt-conteiner {
    width: 100%;
    height: 50vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.btnmk {
    z-index: 2000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vw;
    background-color: black;
    position: absolute;
    display: flex;
    bottom: 0px;
    
    background: linear-gradient(to bottom, transparent, #0e0e0ec5);   
}
.esq {
    cursor: pointer;
    left: 40vw;
    position: absolute;
    bottom: 1vw;
    width: 2vw;
    transition: transform 1s ease-in-out;
}
.dir {cursor: pointer;
    right: 40vw;
    position: absolute;
    bottom: 1vw;
    width: 2vw;
    transition: transform 1s ease-in-out;
}
.esq:hover,
.dir:hover {
    transform: scale(1.1);
}
.carro {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: aqua;
     transition: transform 0.6s ease-in-out;
    
}
.imgmk {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}
.imgmk img{
    transition: transform 2s ease-in-out;
    cursor: pointer;
    
    width: 100%;
    height: 100%;
}
.imgmk img:hover {
    transform: scale(1.1);
}
