.mkt-conteiner {
    
    width: 100%;
    height: 80vw;
    max-height: 900px;
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    list-style: none;
    
    margin-bottom: 1.5vw;
}
.mkt img {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.mkt img:hover {
    transform: scale(1.1);
}


.a img {
    opacity: 1;
}

@media (max-height: 800px) {
    .mkt-conteiner {
        height: 75vh;
    }
}
@media (max-height: 750px) {
    .mkt-conteiner {
        height: 75vh;
        object-fit: cover;

    }
}
@media screen and  (max-height:779px){
        .mkt-conteiner{
            margin-bottom:0px;
        }
    }
    @media screen and  (max-height:500px){
        .mkt-conteiner{
            height:80vw;
        }
    }
    
