.mkt-conteiner {
    overflow: hidden;
    width: 100%;
    height: 45vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.btnmk {
    z-index: 2000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vw;
    background-color: black;
    position: absolute;
    display: flex;
    bottom: 0px;
    
    background: linear-gradient(to bottom, transparent, #0e0e0ec5);   
}

.esq {
    cursor: pointer;
    left: 40vw;
    position: absolute;
    bottom: 1vw;
    width: 3vw;
    transition: transform 1s ease-in-out;
}
.dir {cursor: pointer;
    right: 40vw;
    position: absolute;
    bottom: 1vw;
    width: 3vw;
    transition: transform 1s ease-in-out;
}
.esq:hover,
.dir:hover {
    transform: scale(1.1);
}
.carro {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 255, 255, 0);
     transition: transform 0.6s ease-in-out;
    
}
.imgmk {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}
.imgmk img{
    transition: transform 2s ease-in-out;
    cursor: pointer;
    object-fit: cover;
    animation: zoom 14s ease-in-out infinite;
    width: 100%;
    height: 100%;
    
}


@keyframes zoom {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1.1);
    }
    70%{
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}















.btnmk-esqmb{
    display: none;
    cursor: pointer;
    left: 0px;
    z-index: 5000;
    position: absolute;
    width: 35%;
    height:100%;
    background-color: rgba(250, 235, 215, 0);
}
.btnmk-dirmb{
    display: none;
    cursor: pointer;
    right: 0px;
    z-index: 5000;
    position: absolute;
    width: 35%;
    height:100%;
    background-color: rgba(250, 235, 215, 0);
}











@media screen and  (max-height:1000px){
    .mkt-conteiner {
        height: 65vw;
        gap: 1vw;    
    }
    .btnmk-esqmb {
        display: flex;
    }
    .btnmk-dirmb {
        display: flex;
    }
    

    .esq {
        display: none;
    }
    .dir {
        display: none;
    }
    
    
}
@media screen and  (max-height:901px){
    .btnmk {
        height: 13vw;
    }
    .esq {
        width: 4vw;
    }
    .dir {
        width: 4vw;
    }
    
}
@media screen and (max-width:436px) {
    .mkt-conteiner{
        height: 135vw;
    }
}
@media screen and (max-width:320px) {
    .mkt-conteiner{
        height: 125vw;
    }
}







