.mobile {
    display: none;
}
.titlemb { 
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    margin-top: 3vw;
    margin-bottom: 3vw;
    color: white;
    gap: 2px;
    font-size: 3vw;
}

.content-mb1 {
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    height: 80vw;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 7vw;
    
}
.imgmb1 {
    overflow: hidden;
    object-fit: cover;
    width: 50%;
    height: 98%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgmb1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
}
.imgmb1 img:hover{
    transform: scale(1.1);
}



.seasonmb {
    width: 100%;
    height: 10vw;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 7vw;
    letter-spacing: 1px;
    
}



.content-produtosmb1 {
    
    width: 100%;
    height: 100vw;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    gap: 1px;
    padding-left: 1px;
    padding-right: 1px;
}
.produtomb {
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgba(4, 0, 255, 0);

}
.imgmoba {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 85%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.imgmoba img {
    
    height: 100%;
    width: 100%;
}
.infosmb {position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    color: white;
    font-size: 1.2vw;
    flex-direction: column;
}
.dinmb {
    position: absolute;
    bottom: 2px;
    font-size: 3vw;
}
.logombc {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
    right: 2px;
    top: 2px;
}
.logombc img{
    width: 100%;
}




.amostrasmb {
    position: relative;
    width: 100%;
    height: 110vw;
    background-color: #00000071;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnesqmb {
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to left, transparent, #0e0e0ec5);  

}
.btndirmb {
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    right: 0px;
    top: 0px;
     background: linear-gradient(to right, transparent, #0e0e0ec5);  

}
.btnesqmb img {
    cursor: pointer;
    width: 100%;
}
.btndirmb img {
    cursor: pointer;
    width: 100%;
}





.carroselmb {
    transition: transform 0.4s ease-in-out;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}


.ftmb {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: aliceblue;
}
.ftmb img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}





.instamb {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14vw;
    display: flex;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.instamb img {
    height: 50%;
}
.orgmb {
    position: relative;
    display: flex;
    width: 100%;
    height: 11vw;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}
.copmb {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    font-size: 1.4vw;
    color: white;
}
.creatermb {

    display: flex;
    width: 40%;
    height: 100%;
    font-size: 1.4vw;
    color: white;
    justify-content: center;
    align-items: center;
}
.cookiesmb {
    width: 100%;
    height: 15vw;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid white ;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

@media screen and (max-width:1000px){
    .mobile {
        display: block;
    }
}
