.titlemb { 
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    margin-top: 3vw;
    margin-bottom: 3vw;
    color: white;
    gap: 2px;
    font-size: 3vw;
}

.content-mb1 {
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    height: 80vw;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 7vw;
    
}
.imgmb1 {
    overflow: hidden;
    object-fit: cover;
    width: 50%;
    height: 98%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgmb1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
}
.imgmb1 img:hover{
    transform: scale(1.1);
}



.seasonmb {
    width: 100%;
    height: 10vw;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 7vw;
    letter-spacing: 1px;
    
}



.content-produtosmb1 {
    
    width: 100%;
    height: 100vw;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    gap: 1px;
    padding-left: 1px;
    padding-right: 1px;
}
.produtomb {
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgb(4, 0, 255);

}
.imgmoba {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 85%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.imgmoba img {
    
    height: 100%;
    width: 100%;
}
.infosmb {position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    color: white;
    font-size: 1.2vw;
    flex-direction: column;
}
.dinmb {
    position: absolute;
    bottom: 2px;
    font-size: 3vw;
}
.logombc {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
    right: 2px;
    top: 2px;
}
.logombc img{
    width: 100%;
}


