.org {
    width: 100%;
    height: 3vw;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inf {
    align-items: center;
    justify-content: start;
    padding-left: 20px ;
    display: flex;
    background-color: rgba(165, 42, 42, 0);
    width: 70vw;
    height: 100%;
    border-bottom:1px solid white ;
    font-size: 0.3vw;
    color: rgb(255, 255, 255);

}
.creater {display: flex;
    background-color: rgba(107, 107, 107, 0);
    width: 30vw;
    height: 100%;
    border-left:1px solid white ;
    border-bottom:1px solid white ;
    justify-content: center;
    align-items: center;
    font-size: 0.3vw;
    color: rgb(255, 255, 255);
}
.fim {
    margin-top: 1vw;
    display: flex;
    width: 100%;
    height: 2vw;
    font-size: 0.3vw;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 1050px){
    .org {
        height: 5vw;
    }
    .inf {
        width: 70vw;
        font-size: 0.6vw;
    }
    .creater {
        width: 30vw;
        font-size: 0.6vw;
    }
    .fim {
        height: 5vw;
        font-size: 0.6vw;
    }

}