.pai {
    display: flex;
    width: 70vw;
    height: 25vw;
    margin-left: auto;
    background-color: rgb(3, 2, 71);
    margin-top: 10vw;
    position: relative;
    
    align-items: center;
}
.left2 {
    background-color: aqua;
    position: absolute;
    left: 1vw;
    width: 3vw;
    height: 4vw;

}
.right2 {
    position: absolute;
    right: 1vw;
    width: 3vw;
    height: 4vw;

}
.track1 {
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    width: 60vw;
    height: 20vw;
    margin: 0 auto;
    background-color: black;
    position: relative;
    gap: 2vw;
}
.box {
    flex-shrink: 0;
    width: 40vw;
    height: 100%;
    border-radius: 30px;
    background-color: azure;
}
.viwe {
    display: flex;
    gap: 1vw;
    transition: transform 0.4s ease;
}