.prese {
    font-weight: bold;
    font-style: normal;
    display: flex;
    width: 100%;
    height: 5vw;
    background-color: rgba(165, 42, 42, 0);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.5vw;
    margin-bottom: 3vw;
    letter-spacing: 3px;
    color: white;
}
.dif {
    
    font-weight: 100;
}