.prese {
    font-weight: bold;
    font-style: normal;
    display: flex;
    width: 100%;
    margin-top: 4vw;
    background-color: rgba(165, 42, 42, 0);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.5vw;
    margin-bottom: 3vw;
    letter-spacing: 3px;
    color: white;
}
.dif {
    
    font-weight: 100;
}

@media screen and (max-width:1050px) {  
    .prese {
        font-size: 0.8vw;
        height: 10vw;
        margin-bottom: 2vw;
        margin-top: 2vw;
        
    }
}