.props {
    margin-bottom: 4vw;
    margin-top: 7vw;
    gap: 0.3vw;
    background-color: rgba(253, 253, 253, 0);
    justify-content: center;
    align-items: center;
    display: flex;
}
.prop {
    position: relative;
    
    align-items: center;
    border-radius: 2px;
    display: flex;
    width: 37vw;
    height: 45vw;
    background-color: blue;
    overflow: hidden;
}
.prop img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.prop img:hover{
    transform: scale(1.1);
}
.btn {
    width: 30%;
position: absolute;
  bottom: 10px;     /* pode mudar */
  left: 15px;       /* pode mudar */
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  background: white;
  font-size: 1vw;
  cursor: pointer;
  transition: transform 3s ease-in-out;
  transition: background-color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.514);
    
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
