.conteinerp {
    display: flex;
    position: relative;
    
    margin-top: vw;
    

}

.produtop {
    position: relative;
    overflow: hidden;
    padding-left: 1px;
    padding-right: 1px;
    display: flex;
    width: 100%;
    height: 35vw;
    background-color: rgba(61, 61, 61, 0);
    
    flex-wrap: nowrap;
}
.p {
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    flex-shrink: 0;
    display: flex;
    width: 30vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.ropa {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 255, 255, 0);
}
.ropa img {
    width: 80%;
    height: 100%;
    transition: transform 1.1s ease-in-out;
    cursor: pointer;
}
.ropa img:hover{
    transform: scale(1.1);
}
.Comp {
    color: white;
    font-size: 0.4vw;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #000000;
    color: #eaeaea;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5;
    position: relative;
}
.bb {
    font-size: 0.8vw;   top: 0.5vw; left: 1vw; position: absolute; font-style: normal; letter-spacing: 1px;
}
.ll {
    width: 1.1vw; height: 1.1vw;top: 0.5vw; right: 1vw; position: absolute;cursor: pointer;transition: transform 0.5s ease-in-out;
}
.ll:hover {
    transform: scale(1.1);
}
.din {
    position: absolute;
    bottom: 0.5vw;
    left: 1vw;
    font-size: 0.6vw;
    font-style: normal;
}
























.viwe {
    transition: transform 0.5s ease-in-out;
    display: flex;
    width: 80%;
    gap: 0.4vw;
}
.left {
    position: absolute;
    height: 30%;
    width: 5vw;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 10;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s ease-in;
}
.left:hover {
    background-color: rgba(0, 0, 0, 0.418);
}
.right {
    transition: 0.5s ease-in;
    position: absolute;
    height: 30%;
    width: 5vw;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 10;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
}
.right:hover {
    background-color: rgba(0, 0, 0, 0.418);
}













.conteinerp1 {
    display: flex;
    position: relative;
    margin-bottom: 7vw;
    

}

.produtop1 {
    position: relative;
    overflow: hidden;
    padding-left: 1px;
    padding-right: 1px;
    display: flex;
    width: 100%;
    height: 35vw;
    background-color: rgba(61, 61, 61, 0);
    
    flex-wrap: nowrap;
}
.p1 {
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    flex-shrink: 0;
    display: flex;
    width: 30vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
}










.viwe1 {
    transition: transform 0.5s ease-in-out;
    display: flex;
    width: 100%;
    gap: 0.4vw;
}
.left1 {
    position: absolute;
    height: 30%;
    width: 5vw;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 10;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s ease-in;
}
.left1:hover {
    background-color: rgba(0, 0, 0, 0.418);
}
.right1 {
    transition: 0.5s ease-in;
    position: absolute;
    height: 30%;
    width: 5vw;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 10;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
}
.right1:hover {
    background-color: rgba(0, 0, 0, 0.418);
}




@media screen and (max-width:1050px) {
    .produtop1{
        height: 45vw;
    }
    .produtop{
        height: 45vw;
    }
    .bb {
        font-size: 1.5vw;
    }
    .ll {
        width: 2vw;
        height: 2vw;
        
    }
    .ll img{
        width: 2vw;
        height: 2vw;
        
    }
    .din {
        font-size: 1.5vw;
    }
}
