.search {
    
    border-top:0.5px solid white ;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #0e0e0e;
    color: #eaeaea;
}
.search-bar {color: #ffffff;
    width: 60%;
    height: 40px;
    display: flex;
    background-color: #0e0e0e;
    color: #eaeaea;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 40px 0px 0px 40px;
    border-top:0.5px solid white ;
    border-bottom:0.5px solid white ;
    border-left:0.5px solid white ;
}
.search input {
    
    padding: 20px 20px;
    color: azure;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
}
.search-icon {
    border-right: 0.5px solid white ;
    border-left: 0.5px solid white ;
    border-top:0.5px solid white ;
    border-bottom:0.5px solid white ;
    display: flex;
    border-radius: 0px 40px 40px 0px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #0e0e0e;
    color: #eaeaea;
}
.search-icon img {
    width: 40%;
    height: 40%;
}
@media screen and  (max-width:800px){
    .search-bar  {
        width: 70%;
        height: 30px;

    }
    .search-icon {
        width: 70px;
        height: 30px;
    }
    
}