* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
    overflow: hidden;
    background-color: #000000;
    color: #eaeaea;
    font-style: normal;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    color: #000000;
    min-height: 100vh;
    overflow-x: hidden;
     overflow-x: hidden;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
   overflow-x: hidden;
  max-width: 100%;
}



















